/* Space out content a bit */

body {
  padding-bottom: 20px;
  background-color: #222;
  color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  box-shadow: 0px 1px 15px #000;
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: #000;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 1px 2px 1px #000;
  text-align: center;
}

.shadow {
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0 30px 25px rgba(0,0,0,0.5);
  border-radius: 15%;
}

.photo-viewer.back-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  overflow-y: auto;
}

.photo-viewer .popup-container1 {
  display: table;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  overflow-y: auto;
  vertical-align: middle;
  padding: 10px;
  width: 100%;
}

.photo-viewer .popup-container2 {
  display: table-cell;
  height: 100%;
  left: 0;
  right: 0;
  overflow-y: auto;
  vertical-align: middle;
  padding: 10px;
}

.photo-viewer .popup {
  display: inline-block;
  background-color: black;
}

.photo-viewer .social-container {
  width: 200px;
  display: block;
  width: 100%;
  color: white;
  padding-left : 5px;
  padding-right: 5px;
}

.photo-viewer .photo-social {
  overflow: auto;
}

.photo-viewer .photo-container {
  display: block;
  vertical-align: middle;
}

.photo-viewer .photo {
  width: 100%;
}

.photo-viewer .exit-button-container {
  float: right;
  margin-right: 28px;
}

.photo-viewer .exit-button {
  position: absolute;
  background-color: black;
  color: white;
  border: none;
}

#photo-modal {
  display: none;
}

@media (min-width:768px) {
  .photo-viewer .social-container {
    width: 200px;
    display: table-cell;
  }

  .photo-viewer .photo-container {
    display: table-cell;
    vertical-align: middle;
  }
}

.photo-viewer .tooltip-inner {
  background-color: #2B2B2B;
}

.photo-viewer .tooltip.top .tooltip-arrow {
  border-top-color: #2B2B2B;
}

.photo-viewer .tooltip .in {
  opacity: 0.95;
}

.photo-arrow {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

#photo-next {
  background-image: url('/images/rightarrow.png');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
}

#photo-previous {
  background-image: url('/images/leftarrow.png');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
}

.photo-arrow:hover {
  opacity: 1;
}

.profile-picture {
  position: relative;
  display: block;
  margin: auto;
  height: 125px;
  border: solid #FFF 2px;
}

.profile-name {
  text-align: center;
}

.header-title {
  position: relative;
}

@media (min-width: 992px) {
  .header {
    text-align: left;
  }

  .header-title {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
  }
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.logged {
  position: relative;
  margin-top: 20px;
}

.photo-thumb{
  margin-left: -10px;
}

.photo-thumb{
  height: 180px;
}

.thumb {
  margin-bottom: 10px;
  cursor: pointer;
}

.thumb .thumb-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(187, 187, 187);
  border-radius: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.thumb .thumb-title {
  position: absolute;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.69);
  color: white;
  width: 100%;
  border-radius: 0%;
  opacity: 0;
}

.thumb:hover .thumb-title {
  opacity: 100;
}

@media (min-width: 768px) {
  .logged {
    float: right;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}