<div ng-show="auth.loggedIn">
  <div>
    <h2 style="display:inline-block">
      {{ album.name }} 
    </h2>
    <p>
      <a href="/#/albums">Home</a> {{ album && "&gt;" }}
      <a ng-show="album" href="/#/albums/{{ album.id }}">{{ album.name }}</a>
    </p>
  </div>
  <div ng-repeat="photo in photos | orderBy: photosOrder" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 photo-thumb">
    <div class="thumb-container">
      <div class="thumb" ng-mouseenter="loadPhoto(album.id, photo.id)" ng-click="openPhotoViewer()">
        <div class="thumb-img" ng-style="{backgroundImage: 'url(' + photo.thumb + ')'}"></div>
        <div class="thumb-title">
          {{ photo.name || 'Untitled' }}
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="photoViewer">
  <div class="photo-viewer back-layer">
    <div class="popup-container1">
      <div class="popup-container2">
        <div class="popup">
          <div class="photo-container" photoviewer="photo">
          </div>
          <div class="social-container">
            <div class="exit-button-container">
              <button class="exit-button" ng-click="closePhotoViewer()">&times;</button>
            </div>
            <photosocial photo="photo"></photosocial>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>