<div class="header" ng-style="{backgroundImage: 'url(' + auth.user.cover + ')'}">
  <div class="container">
    <div class="row align-left">
      <span class="header-title">
        <h1>My Album</h1>
        <p>Watch your <strong>Facebook photo albums</strong>... It's free!!</p>
      </span>
      <img ng-src="{{ auth.user.picture || '/images/who.jpg' }}" class="profile-picture img-circle">
      <div class="profile-name">
        <h2>{{ auth.user.first_name || "Enter now!" }}</h2>
        <p ng-show="auth.loggedIn">
          <button type="button" class="btn btn-default" ng-click="auth.logout()">Logout</button>
        </p>
        <p ng-hide="auth.loggedIn">
          <button type="button" class="btn btn-success" ng-click="auth.login()">Login with Facebook</button>
        </p>
      </div>
    </div>
  </div>
</div>