<div ng-show="auth.loggedIn">
  <div>
    <h2 style="display:inline-block">
      {{ title }} 
    </h2>
    <p>
      <a href="/#/albums">Home</a>
    </p>
    <p style="display:inline-block; margin-left: 20px">
      Order by: 
      <select ng-model="albumsOrder" ng-init="albumsOrder='-created_time'">
        <option value="-created_time">Newest</option>
        <option value="created_time">Oldest</option>
        <option value="name">Name</option>
        <option value="likes.summary.total_count + comments.summary.total_count">Popularity</option>
      </select>
    </p>
  </div>
  <div ng-repeat="album in albums | orderBy: albumsOrder" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 photo-thumb">
    <div class="thumb-container">
      <div class="thumb" ng-click="go(basePath + '/' + album.id)">
        <div class="thumb-img" ng-style="{backgroundImage: 'url(' + album.thumb + ')'}"></div>
        <!-- <img ng-src="{{album.thumb}}" class="thumb-img"> -->
        <div class="thumb-title">
          {{ album.name || 'Untitled' }}
        </div>
      </div>
    </div>
  </div>
</div>