<!-- <p>
  <a ng-show="photo.previous" ng-click="getPhoto(album.id, photo.previous.id)">previous</a> |
  <a ng-show="photo.next"     ng-click="getPhoto(album.id, photo.next.id)">next</a>
</p> -->
<span id="photo-previous" class="photo-arrow" ng-show="photo.previous" ng-click="getPhoto(album.id, photo.previous.id)">&nbsp;</span>
<span id="photo-next" class="photo-arrow" ng-show="photo.next" ng-click="getPhoto(album.id, photo.next.id)">&nbsp;</span>
<img id="photo-img" ng-src="{{ photo.source }}" class="img-responsive" imageonload>