<div class="photo-social">
  <div class="comments">  
    <h3>Comments</h3>
    <p ng-show="photo.comments.summary.total_count == 0">This photo has no comments yet.</p>
    <div ng-repeat="comment in photo.comments.data">
      <p><strong>{{ comment.from.name }}</strong><br>
      {{ comment.message }}</p>
    </div>
  </div>
  <div class="likes" ng-hide="photo.likes.summary.total_count == 0">
    <P>
      <strong custom-tooltip="likes-tooltip">{{ photo.likes.summary.total_count }} people</strong> like this photo.
    </P>
    <div id="likes-tooltip" class="hide">
      <strong ng-repeat="like in photo.likes.data">
        {{ like.name }}
      <br></strong>
    </div>
  </div>
</div>

<!-- <div class="fb-like" data-href="https://www.facebook.com/photo.php?fbid=10152315238022402&amp;set=a.452588167401.243345.812042401&amp;type=3&amp;theater#" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<div class="fb-comments" data-href="https://www.facebook.com/photo.php?fbid=10152315238022402&amp;set=a.452588167401.243345.812042401&amp;type=3&amp;theater#" data-numposts="5" data-colorscheme="light"></div> -->